#page-teacher-index {
    width: 100vw;
    height: 100vh;
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#search-teachers button:hover {
    background: var(--color-secondary-dark);
}

#search-teachers button svg {
    margin-right: 1rem;
    font-size: 1.8rem;
}

#page-teacher-index main {
    margin: 3.2rem auto;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

#page-teacher-index main ul {
    margin-top: 2.4rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style: none;
}


@media (max-width: 1700px) {
    #page-teacher-index main ul {
        padding: 3rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}

@media (max-width: 1300px) {
    #page-teacher-index main ul {
        padding: 3rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media (max-width: 870px) {
    #page-teacher-index main ul {
        padding: 3rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }
}

@media (max-width: 699px) {
    #page-teacher-index main ul {
        margin-top: 0;
    }
}

@media (min-width: 700px) {
    #page-teacher-index {
        max-width: 100%;
    }

    #search-teachers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -24px;
    }

    #page-teacher-index main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}