#page-landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.logo-container img {
    width: 45rem;
    /* height: 10rem; */
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 2.0rem Archivo;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 0;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
}

.buttons-container a.student{
    background: var(--color-warning);
    color: var(--color-secondary-darker);
}

.buttons-container a.student svg {
    color: var(--color-secondary-darker);
    margin-right: 1rem;
    font-size: 3rem;
}

.buttons-container a.teacher svg {
    margin-right: 1rem;
    font-size: 2.5rem;
}

.buttons-container a.teacher{
    background: var(--color-secondary);
}

.buttons-container a.student:hover{
    background: var(--color-warning-dark);
}
.buttons-container a.teacher:hover{
    background: var(--color-secondary-dark);
}

.buttons-container img {
    margin-right: 2.4rem;
}

.total-connections {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

.total-connections svg {
    margin-left: 1rem;
}

@media (min-width: 1024px) {
    #page-landing-content {
        max-width: 1024px;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "logo hero hero"
            "buttons buttons total"
        ;
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }

    .total-connections {
        grid-area: total;
        justify-self: end;
    }
}