:root {
    font-size: 60%;

    --color-background: #dddddd;
    --color-primary-lighter: #fdb5b5;
    --color-primary-light: #faa1a1;
    --color-primary: #eb8d8d;
    --color-primary-dark: #b95454;
    --color-primary-darker: #8a2e2e;
    --color-secundary-lighter: #c3dae0;
    --color-secundary-light: #81c1d4;
    --color-secundary: #038eb8;
    --color-secundary-dark: #0382a1;
    --color-secundary-darker: #014a5c;
    --color-warning: #ebd265;
    --color-warning-dark: #d1bb57;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #ffcece;
    --color-text-title: #4e1616;
    --color-text-complement: #9C98A6;
    --color-text-base: #635050;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, 
input, 
button, 
textarea {
    font: 400 1.6rem Poppins;
    color: var(--color-text-base)
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62,5%;
    }
}
